In [2]:
import pandas as pd
import numpy as np
import os
from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [3]:
source = 'source/Data.csv'

In [8]:
data = pd.read_csv(source, encoding='iso-8859-1', skiprows=1)

In [9]:
data

,year,disaster type,iso,country_name,occurrence,Total deaths,Affected,Injured,Homeless,Total affected,Total damage
0,1900,Drought,CPV,Cabo Verde,1,11000.0,NaN,NaN,NaN,NaN,NaN
1,1900,Drought,IND,India,1,1250000.0,NaN,NaN,NaN,NaN,NaN
2,1900,Epidemic,JAM,Jamaica,1,30.0,NaN,NaN,NaN,NaN,NaN
3,1900,Flood,JAM,Jamaica,1,300.0,NaN,NaN,NaN,NaN,NaN
4,1900,Storm,USA,United States of America (the),1,6000.0,NaN,NaN,NaN,NaN,30000.0
5,1900,Volcanic activity,JPN,Japan,1,30.0,NaN,NaN,NaN,NaN,NaN
6,1901,Earthquake,JPN,Japan,1,18.0,NaN,NaN,NaN,NaN,NaN
7,1901,Earthquake,TZA,"Tanzania, United Republic of",1,NaN,NaN,NaN,NaN,NaN,NaN
8,1901,Epidemic,UGA,Uganda,1,200000.0,NaN,NaN,NaN,NaN,NaN
9,1901,Industrial accident,BEL,Belgium,1,18.0,NaN,NaN,NaN,NaN,NaN
10,1902,Earthquake,SLV,El Salvador,1,185.0,NaN,NaN,NaN,NaN,NaN
11,1902,Earthquake,GTM,Guatemala,1,2000.0,NaN,NaN,NaN,NaN,NaN
12,1902,Earthquake,SUN,Soviet Union,1,4562.0,NaN,NaN,NaN,NaN,NaN
13,1902,Miscellaneous accident,USA,United States of America (the),1,115.0,NaN,NaN,NaN,NaN,NaN
14,1902,Storm,MMR,Myanmar,1,600.0,NaN,NaN,NaN,NaN,NaN
15,1902,Volcanic activity,GTM,Guatemala,2,7000.0,NaN,NaN,NaN,NaN,NaN
16,1902,Volcanic activity,JPN,Japan,1,125.0,NaN,NaN,NaN,NaN,NaN
17,1902,Volcanic activity,MTQ,Martinique,1,30000.0,NaN,NaN,NaN,NaN,NaN
18,1902,Volcanic activity,VCT,Saint Vincent and the Grenadines,1,1565.0,NaN,NaN,NaN,NaN,NaN
19,1903,Drought,NER,Niger (the),1,NaN,NaN,NaN,NaN,NaN,NaN
20,1903,Earthquake,TUR,Turkey,1,6000.0,NaN,NaN,NaN,NaN,NaN
21,1903,Flood,USA,United States of America (the),2,250.0,NaN,NaN,NaN,NaN,480000.0
22,1903,Mass movement (dry),CAN,Canada,1,76.0,NaN,23.0,NaN,23.0,NaN
23,1903,Miscellaneous accident,FRA,France,1,84.0,NaN,NaN,NaN,NaN,NaN
24,1903,Miscellaneous accident,USA,United States of America (the),1,602.0,NaN,NaN,NaN,NaN,NaN
25,1903,Storm,JAM,Jamaica,1,65.0,NaN,NaN,NaN,NaN,NaN
26,1903,Storm,USA,United States of America (the),1,98.0,NaN,NaN,NaN,NaN,NaN
27,1903,Volcanic activity,COM,Comoros (the),1,17.0,NaN,NaN,NaN,NaN,NaN
28,1904,Earthquake,ECU,Ecuador,1,NaN,NaN,NaN,NaN,NaN,NaN
29,1904,Miscellaneous accident,BEL,Belgium,1,15.0,NaN,2.0,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12486,2015,Transport accident,ZAF,South Africa,7,84.0,NaN,552.0,NaN,552.0,NaN
12487,2015,Transport accident,SSD,South Sudan,1,41.0,NaN,NaN,NaN,NaN,NaN
12488,2015,Transport accident,ESP,Spain,1,11.0,NaN,9.0,NaN,9.0,NaN
12489,2015,Transport accident,SWZ,Swaziland,1,12.0,NaN,20.0,NaN,20.0,NaN
12490,2015,Transport accident,SYR,Syrian Arab Republic,1,30.0,NaN,NaN,NaN,NaN,NaN
12491,2015,Transport accident,TWN,Taiwan (Province of China),1,43.0,NaN,15.0,NaN,15.0,NaN
12492,2015,Transport accident,TZA,"Tanzania, United Republic of",2,63.0,NaN,30.0,NaN,30.0,NaN
12493,2015,Transport accident,THA,Thailand,1,13.0,NaN,NaN,NaN,NaN,NaN
12494,2015,Transport accident,TUN,Tunisia,1,18.0,NaN,98.0,NaN,98.0,NaN
12495,2015,Transport accident,TUR,Turkey,8,123.0,258.0,10.0,NaN,268.0,NaN
12496,2015,Transport accident,UGA,Uganda,1,18.0,NaN,NaN,NaN,NaN,NaN
12497,2015,Transport accident,UKR,Ukraine,2,29.0,NaN,35.0,NaN,35.0,NaN
12498,2015,Transport accident,GBR,United Kingdom of Great Britain and Northern I...,1,11.0,NaN,NaN,NaN,NaN,NaN
12499,2015,Transport accident,USA,United States of America (the),2,19.0,NaN,200.0,NaN,200.0,NaN
12500,2015,Transport accident,URY,Uruguay,1,10.0,NaN,NaN,NaN,NaN,NaN
12501,2015,Transport accident,VNM,Viet Nam,1,18.0,NaN,NaN,NaN,NaN,NaN
12502,2015,Transport accident,YEM,Yemen,1,35.0,NaN,NaN,NaN,NaN,NaN
12503,2015,Transport accident,ZMB,Zambia,2,34.0,NaN,4.0,NaN,4.0,NaN
12504,2015,Transport accident,ZWE,Zimbabwe,1,24.0,NaN,46.0,NaN,46.0,NaN
12505,2015,Volcanic activity,ARG,Argentina,1,NaN,NaN,NaN,NaN,NaN,NaN
12506,2015,Volcanic activity,CHL,Chile,2,NaN,7600.0,NaN,NaN,7600.0,600000.0
12507,2015,Volcanic activity,CRI,Costa Rica,1,NaN,18450.0,NaN,NaN,18450.0,NaN
12508,2015,Volcanic activity,ECU,Ecuador,2,NaN,930042.0,NaN,NaN,930042.0,NaN
12509,2015,Wildfire,AUS,Australia,3,2.0,NaN,164.0,453.0,617.0,351000.0
12510,2015,Wildfire,CAN,Canada,1,NaN,13000.0,NaN,36.0,13036.0,NaN
12511,2015,Wildfire,CHL,Chile,1,1.0,NaN,32.0,NaN,32.0,NaN
12512,2015,Wildfire,COD,Congo (the Democratic Republic of the),1,3.0,57003.0,NaN,NaN,57003.0,NaN
12513,2015,Wildfire,IDN,Indonesia,1,19.0,409664.0,NaN,NaN,409664.0,1000000.0
12514,2015,Wildfire,RUS,Russian Federation (the),1,30.0,5000.0,977.0,NaN,5977.0,136820.0
12515,2015,Wildfire,USA,United States of America (the),3,9.0,600.0,8.0,7431.0,8039.0,1550000.0

In [13]:
data.columns = list(map(str.strip, data.columns))

In [36]:
# entities

country = data[['iso', 'country_name']].copy()

In [37]:
country.columns = ['country', 'name']

In [38]:
country['country'] = country['country'].map(to_concept_id)

In [39]:
country.drop_duplicates().to_csv('../ddf--entities--country.csv', index=False)

In [18]:
disas = data[['disaster type']].copy()

In [19]:
disas['disaster'] = disas['disaster type'].map(to_concept_id)

In [20]:
disas.columns = ['name', 'disaster']

In [21]:
disas.drop_duplicates()[['disaster', 'name']].to_csv('../ddf--entities--disaster.csv', index=False)

In [ ]:
# concept

In [22]:
concs = data.columns[4:]

In [24]:
concs = [*['Year', 'Name', 'disaster', 'country'], *concs]

In [25]:
concs

['Year',
 'Name',
 'disaster',
 'country',
 'occurrence',
 'Total deaths',
 'Affected',
 'Injured',
 'Homeless',
 'Total affected',
 'Total damage']

In [27]:
con = pd.DataFrame([], columns=['concept', 'name', 'concept_type'])

In [28]:
con['name'] = concs

In [29]:
con['concept'] = con['name'].map(to_concept_id)

In [31]:
con['concept_type'] = 'measure'

con['concept_type'].iloc[0] = 'time'
con['concept_type'].iloc[1] = 'string'
con['concept_type'].iloc[2] = 'entity_domain'
con['concept_type'].iloc[3] = 'entity_domain'

In [33]:
con.to_csv('../ddf--concepts.csv', index=False)

In [34]:
# dps

In [57]:
dps = data.drop('country_name', axis=1)

In [58]:
dps.columns = list(map(to_concept_id, dps.columns))

In [59]:
dps = dps.rename(columns={'disaster_type': 'disaster', 'iso': 'country'})

In [60]:
dps['country'] = dps['country'].map(to_concept_id)
dps['disaster'] = dps['disaster'].map(to_concept_id)

In [61]:
dps = dps.sort_values(by=['country', 'disaster', 'year']).set_index(['country', 'disaster', 'year'])

In [64]:
for i, col in dps.items():
    df = col.reset_index()
    
    path = os.path.join('../', 'ddf--datapoints--{}--by--country--disaster--year.csv'.format(i))
    
    df = df.dropna()
    
    df[i] = df[i].map(int)
    
    df.to_csv(path, index=False)

In [63]:
create_index_file('../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
0,"country,disaster,year",affected,ddf--datapoints--affected--by--country--disast...
0,"country,disaster,year",homeless,ddf--datapoints--homeless--by--country--disast...
0,"country,disaster,year",injured,ddf--datapoints--injured--by--country--disaste...
0,"country,disaster,year",occurrence,ddf--datapoints--occurrence--by--country--disa...
0,"country,disaster,year",total_affected,ddf--datapoints--total_affected--by--country--...
0,"country,disaster,year",total_damage,ddf--datapoints--total_damage--by--country--di...
0,"country,disaster,year",total_deaths,ddf--datapoints--total_deaths--by--country--di...
0,country,name,ddf--entities--country.csv
0,disaster,name,ddf--entities--disaster.csv